@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OpenSans;
    font-weight: 800;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSansCondensed;
    font-weight: 300;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}
@font-face {
    font-family: OpenSansCondensed;
    font-weight: 700;
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
    font-family: Anton;
    font-weight: 400;
    src: url(../fonts/Anton-Regular.ttf);
}

.header{
    position: absolute;
    height: 5vw;
    left: 6vw;
    right: 82px;
    top: 21px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(60px);
}
.logo{
    height: 1.3vw;
}
.header-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vw;
    padding: 0 2vw;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    width: 43vw;
}
.header-link{
    text-decoration: none;
    color: white;
    font-family: OpenSansCondensed;
    letter-spacing: 0.1em;
    font-size: 1.2vw;
    font-weight: 700;
}
.line-wrapper{
    display: flex;
    flex-direction: column;
}
.line{
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 2px 0;
}
/* -----Topping----- */
.topping{
    background: url(../img/rocket-1@2x.png) no-repeat;
    background-size: cover;
    height: 82vw;
}
.topping-info{
    padding-top: 25vw;
    padding-left: 7vw;      
}
.topping-title{
    font-family: OpenSans;
    font-weight: 400;
    font-size: 4vw;
    line-height: 5vw;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.topping-subtitle{
    font-family: Anton;
    font-weight: 400;
    font-size: 5.7vw;
    color: #FFFFFF;
    padding-bottom: 3vw;
}
.topping-link{
    display: block;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 1.15vw;
    letter-spacing: 0.1em;
    text-decoration: underline;
    color: #FFFFFF;
    padding-bottom: 3.5vw;
}
.topping-btn{
    display: block;
    border: 0.3vw solid #FFFFFF;
    width: 17.5vw;
    height: 5.5vw;
    background: url(Sec-1-BG-Image.jpg);
    color: white;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 1.2vw;  
}
/*-----Crew-mission-------*/
.crew-mission{
    background: url(../img/rocket-2@2x.png) no-repeat;
    background-size: cover;
    height: 65vw;
}
.crew-mission-info{
    padding-top: 23vw;
    padding-left: 7vw; 
}
.crew-mission-title{
    font-family: OpenSans;
    font-weight: 400;
    font-size: 4vw;
    line-height: 6vw;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.crew-mission-subtitle{
    font-family: Anton;
    font-weight: 400;
    font-size: 5.7vw;
    color: #FFFFFF;
    padding-bottom: 4vw;    
}
.crew-mission-link{
    display: block;
    font-family: OpenSans;
    font-weight: 600;
    font-size: 1.15vw;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-decoration: underline;
    color: #FFFFFF;
    padding-bottom: 40px;    
}
/* -----Launch------ */
.launch{
    background: black;
    height: 72vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch-rocket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 80%;
    width: 85%;
    background: url(../img/rocket-3@2x.png) no-repeat;
    background-size: cover;
}
.launch-inscription{
    display: block;
    font-family: Anton;
    font-size: 30vw;
    font-weight: 400;
    color: white;
    mix-blend-mode: soft-light;
}
.launch-topping{
    position: absolute;
    height: 43vw;
    width: 35vw;
    background: rgba(25, 65, 106, 0.5);
    backdrop-filter: blur(44px);
    left: 42vw;
    top: 6vw;
    padding: 0 3vw;
    padding-top: 3vw;
}
.launch-topping-title{
    display: block;
    font-family: Anton;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
    padding: 15px 0;
    height: 7vw;
    width: 25vw;  
}
.launch-topping-subtitle{
    display: block;
    text-align: left;
    font-family: OpenSans;
    font-size: 0.7vw;
    font-weight: 600;
    line-height: 1.2vw;
    letter-spacing: 0.1em;
    color: white;
    padding-bottom: 1.5vw;
    width: 25vw;
}
.launch-topping-btn{
    display: block;
    height: 4vw;
    width: 15vw;
    border: 4px solid #ffffff;
    background: rgba(25, 65, 106, 0.5);
    backdrop-filter: blur(44px);
    color: white;
    font-family: OpenSans;
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}



/* ------News----- */
.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vw;
    background: #f1f1f1;  
}
.news-wrapper{
    display: flex; 
    flex-wrap: wrap;   
    justify-content: space-between;
    align-items: center;
    width: 84vw;
}
.news-event-container{
    display: block;
    height: 48vw;
    width: 26vw;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
    background: white;
}
.news-event-image-wrapper{
    position: relative;
}
.news-event-image{
    width: 100%;
}
.news-date{
    position: absolute;
    display: block;
    font-family: OpenSans;
    font-size: 1.23vw;
    font-weight: 800;
    letter-spacing: 0.05em;
    text-align: center;
    width: 13.6vw;
    height: 4.1vw;
    background: #ffffff;
    bottom: 0;
    left: 0;
    line-height: 3;
}
.news-title{
    display: block;
    font-family: OpenSansCondensed;
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 2vw;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 2.7vw;
    margin: 0 2.7vw;
}
.news-subtitle{
    display: block;
    font-family: OpenSans;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.6vw;
    letter-spacing: 0.1em;
    text-align: left;
    padding-top: 1.77vw;
    margin: 0 2.7vw;
}
.news-btn-wrapper{
    margin: 4vw auto;
}
.news-btn{
    display: block;
    border: 0.25vw solid #313131;
    width: 20.5vw;
    height: 4.2vw;
    font-family: OpenSans;
    font-size: 1.3vw;
    font-weight: 700; 
}
/* ----Questions----- */
.questions{
    background: black;
    padding-bottom: 5vw;

}
.questions-moonphases{
    background: url(../img/moon\ phases.jpg@2x.png) no-repeat ;
    height: 32vw;
    background-size: contain;
}
.FAQs{
    display: block;
    justify-content: center;
    color: white;
    padding: 0 10vw;   
}
.asked-questions{
    display: block;
    text-align: left;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: white;
    padding-bottom: 30px;
    width: 63vw;
}
.FAQs-title{
    display: block;
    font-family: Anton;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
    padding-bottom: 4vw;
}
.asked-questions-title{
    display: block;
    font-family: OpenSans;
    font-size: 2.4vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0.1em;
    text-align: left;
    padding-bottom: 2vw;
}
.asked-questions-subtitle{
    display: block;
    font-family: OpenSans;
    font-size: 0.75vw;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: left;
    padding-bottom: 2vw;
    width: 79vw;
}
/* ---Footer---- */

.footer-space-wrapper{
    border-bottom: 0.3vw solid #FF9568;
}
.footer-space{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    height: 8vw;
    align-items: center;   
    margin: 0 auto;
}
.footer-logo-image{
    height: 0.9vw;
    margin-right: 14vw;
}
.footer-social{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 45vw;
    font-family: OpenSansCondensed;
    font-weight: 700;
    font-size: 0.9vw;
    line-height: 25px;
    letter-spacing: 0.1em;
}
.footer-link{
    color: black;
}
.copyright{
    font-family: OpenSansCondensed;
    font-weight: 300;
    font-size: 0.9vw;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #000000;
}
@media screen and (max-width: 1024px){
    .logo{
        height: 1.8vw;
    }
}
@media screen and (max-width: 1024px) {
    .header-link{
        display: none;
    }
}
@media screen and (max-width: 1024px){
    .topping{
        background-position: 30% 85%;    
        height: 140vw;
    }
}
@media screen and (max-width: 1024px) {
    .topping-info{
        padding-top: 35vw;
        padding-left: 7vw;      
    }
}
@media screen and (max-width: 1024px) {
    .topping-title{
        font-size: 8vw;
        line-height: 12vw;
    }
}
@media screen and (max-width: 1024px) {
    .topping-subtitle{
        font-size: 11vw;
        padding-bottom: 5vw;
    }
}
@media screen and (max-width: 1024px){
    .topping-link{
        font-size: 2.2vw;
        padding-bottom: 3.5vw;
    }
}
@media screen and (max-width: 1024px){
    .topping-btn{        
        border: 0.3vw solid #FFFFFF;
        width: 35vw;
        height: 7vw;
        font-size: 2vw;  
    }
}
@media screen and (max-width: 1024px){
    .crew-mission{
        background-position: 52%;    
        height: 122vw;
    }
}
@media screen and (max-width: 1024px){
    .crew-mission-info{
        padding-top: 50vw;
        padding-left: 7vw; 
    }
}
@media screen and (max-width: 1024px){
    .crew-mission-title{
        font-size: 8vw;
        line-height: 12vw;   
    }  
}
@media screen and (max-width: 1024px){
    .crew-mission-subtitle{
        font-size: 11vw;
        padding-bottom: 5vw;    
    }
}
@media screen and (max-width: 1024px){
    .crew-mission-link{
        font-size: 2.2vw;
        padding-bottom: 2.5vw;
    }  
}
@media screen and (max-width: 1024px){
    .launch{
        background: black;
        height: 98vw;
        /* background-size: cover; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
} 
@media screen and (max-width: 1024px){
    .launch-rocket {
        /* height: 100vw; */
        /* width: 100vw; */
        background-position: 32% 85%;
        /* background: url(../img/rocket-3@2x.png) no-repeat; */
        /* background-size: cover; */
    }
}
@media screen and (max-width: 1024px){
    .launch{
        height: 117vw;
    }
    .launch-rocket {
        height: 100%;
        width: 100%;
    }
    .launch-inscription{
        font-size: 36.5vw;
    }
    .launch-topping{
        height: 83vw;
        width: 60vw;
        right: 0;
        top: 15vw;
    }
    .launch-topping-title{
        font-size: 9vw;
        padding-left: 3vw;
        height: 15vw;
        width: 55vw;  
    }
    .launch-topping-subtitle{
        font-size: 1.77vw;
        font-weight: 400;
        line-height: 3.5vw;
        letter-spacing: 0.2em;
        padding-bottom: 3vw;
        padding-left: 3vw;
        width: 58vw;
    }
    .launch-topping-btn{
        height: 7vw;
        width: 35vw;
        font-size: 2vw;
        margin-left: 3vw;
    }
    .news{
        display: flex;
        flex-direction: row;
        height: 190vw;
    }
    .news-wrapper{
        justify-content: space-evenly;
        flex-direction: row;
        width: 100vw;
    }
    .news-event-container{
        height: 85vw;
        width: 42vw;
        box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.07);
        margin-bottom: 5vw;
    }
    .news-date{
        font-size: 2vw;
        letter-spacing: 0.05em;
        width: 22vw;
        height: 6.5vw;
        line-height: 3;
    }
    .news-title{
        font-size: 3vw;
        line-height: 4vw;
        letter-spacing: 0.03em;
        padding-top: 4.3vw;
        margin: 0 4.3vw;
    }
    .news-subtitle{
        font-size: 1.8vw;
        line-height: 3.3vw;
        letter-spacing: 0.1em;
        padding-top: 1.77vw;
        margin: 0 3.5vw;
    }
    .news-btn-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vw;
        width: 42vw;
        margin: 0;
        margin-bottom: 5vw;
        border: solid #C4C4C4 0.1vw;
    }
    .news-btn{
        border: 0.5vw solid #313131;
        width: 36vw;
        height: 8.2vw;
        font-size: 2.5vw;
    }  
    .FAQs{
        padding: 0 6vw;   
    }
    .asked-questions{
        font-size: 18vw;
        width: 63vw;
    }
    .FAQs-title{
        font-size: 7vw;
        padding-bottom: 7vw;
    }
    .asked-questions-title{
        font-size: 4vw;
        width: 65vw;
        line-height: 5vw;
        padding-bottom: 5vw;
    }
    .asked-questions-subtitle{
        font-size: 1.8vw;
        font-weight: 400;
        line-height: 3vw;
        letter-spacing: 0.1em;
        padding-bottom: 2vw;
        width: 87vw;
    }
    .footer-space-wrapper{
        border-bottom: 0.3vw solid #FF9568;
    }
    .footer-space{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 87vw;
        height: 25vw;
        align-items: flex-start;   
    }
    .footer-logo-image{
        height: 1.9vw;
    }
    .footer-social{
        justify-content: space-between;
        width: 83vw;             
        font-size: 2vw;
    }
    .copyright{
        font-size: 2vw;
    }
}
